Source: eclipse-package
Priority: optional
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Build-Depends: debhelper (>= 9), bash-completion
Section: shells
Standards-Version: 3.9.8
Homepage: https://www.pm-codeworks.de/eclipse-package.html
Vcs-Git: https://github.com/philippmeisberger/eclipse-package.git
Vcs-Browser: https://github.com/philippmeisberger/eclipse-package

Package: eclipse-package
Architecture: all
Depends: ${misc:Depends}, fakeroot, make, devscripts
Description: Utility for creating Eclipse Debian packages
 This package provides the capability to build a Debian package from an Eclipse
 binary distribution by running make-eclipsepkg <Eclipse archive file>.
 .
 Download the archive file from
 https://www.eclipse.org/downloads/eclipse-packages/
