Source: eclipse-package
Priority: extra
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Build-Depends: debhelper (>= 9)
Section: shells
Standards-Version: 3.9.6
Vcs-Git: https://github.com/philippmeisberger/android-studio-package.git

Package: eclipse-package
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, fakeroot, make, devscripts, libxml2-utils (>= 2.7)
Description: Utility for creating Eclipse Debian packages
 This package provides the capability to build a Debian package from
 an Eclipse binary distribution by running make-eclipsepkg <Eclipse archive file>.
 .
 Download the archive file from
 https://www.eclipse.org/downloads/eclipse-packages/
